/* Structure */
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .dashboard-content {
      margin-top: 20px;
  }

  .mat-column-select {
    overflow: initial;
  }

  .mat-footer-row {
    margin-top: 16px;
  }

  .mat-header-cell {
    font-size: 14px;
    font-weight: bold;
    font-family: "Cambria";
    color: #3f51b5;
  }

  .search {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
  }