.login-box {
    margin: 0 auto;
    width: 30%;
    margin-top: 150px;
    /* opacity: .7; */
}

mat-card {
    height: 220px;
}

mat-card-header {
    background-color: yellowgreen;
    line-height: 30px;
    height: 30px;
}

mat-card-content {
    padding: 16px;
}

mat-radio-button {
    margin-right: 16px;
}


mat-form-field {
    margin-top: 10px;
}

.full-width {
    width: 100%;
}

.mat-divider {
    margin-top: 16px;
    margin-bottom: 26px;
}